@use "./label" as l;
@use "./input" as i;
@use "./error" as e;
@use "./button" as b;

form{
    fieldset{
        display: flex;
        flex-direction: column;
        padding: 0.3rem;
        border: none;
        @include l.label();                       
        @include i.input();                       
        @include e.error();                       
                              
    }
    >div{
        display: flex;
        justify-content: space-between;
        padding: 0.3rem 0.3rem;
        margin-top: 0.1rem;
        @include b.button(); 
    }  
}