
$font-family:'Roboto Mono', monospace;
//Background
$bg-card: #ffffff;
$bg-container: linear-gradient(to left top, #06070a, #090d16, #0b121f, #0a1628, #071931);
// $bg-main:url(../asses/silueta-pelota-futbol-puntos-lineas-triangulos-resumen-low-poly-wireframe-design-vector-illustration_587448-521.avif); 
$bg-main:url(../asses/24058528_sepppt_15.jpg); 
//Color
$color-title: #07bd10;
$color-texto: #01011c;
$error: #d84668;